.card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.cardGenres {
    list-style: none;
    padding: 0;
}
.CardGenre {
    margin: 5px 0;
}
.img {
    width: 100vh;
}