.loadingImg {
    width: 100vx;
    height: 100vh;
}
.filters {
    margin: 5px;
    padding: 20px;
    background-color: aquamarine;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
    background-color: aqua;
}
.containerError {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/963/51/784/game-over-video-games-glitch-art-wallpaper-preview.jpg);
}
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonLink {
    text-align: center;
}
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8%;
}
  