.loadingImg {
    width: 100vx;
    height: 100vh;
}
.filters {
    margin: 5px;
    padding: 20px;
    background-color: aquamarine;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    margin: 5px;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
    background-color: aqua;
}

  